body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(neo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-weight: bold;
    color: white;
    text-align: center;
}
h1 {
    color: pink;
    margin-top: 40px;
    font-size: 10vw;
    
}
p{
    font-size: 7vw;
    font-style: italic;
    
}
h2{
    font-size: 6vw;
}
h3{
    font-size: 6vw;
}
button{
    width: 45vw;
    background: pink;
    padding-top: 5vw;
    padding-bottom: 5vw;
    font-weight: bold;
    border: none;
    border-radius: 2vw;
    margin-bottom: 2vw;
    margin-top: 2vw;
}