body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(neo.jpg);
    background-size: cover;
    
    font-weight: bold;
    color: white;
    text-align: center;
}
container {
    width: 500px;
    height: 300px;
    margin: 200px auto;
}



h1 {
    color: pink;
    margin-top: 40px;
    
}

p{
    font-size: 40px;
    bo
}    
    
    
    

button{
    
    color:black ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bold ;
    width: 150px;
    background-color: pink;
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
    box-shadow: 2px;
    border-radius: 3px;
    margin-bottom: 5px;
    margin-top: 4px;
    
}